body {
	background-color: #ccc;
}

body > div {
	width: 960px;
	margin: 0 auto;
}

.hero {
	background-color: blue;
	position: relative;
	height: 250px;
}

nav {
	background-color: orange;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.options {
	background-color: red;
	width: 100px;
	display: inline-block;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: top;
}

.logo {
	margin: 0 auto;
	font-size: 24pt;
	width: 250px;
	height: 75px;
	background-color: lightblue;
	display: inline-block;
}

.info_menu {
	background-color: green;
	width: 100px;
	height: 30px;
	position: absolute;
	left: 40px;
	bottom: -10px;
}

.login {
	background-color: yellow;
	width: 100px;
	height: 30px;
	position: absolute;
	right: 40px;
	bottom: -10px;
}

aside {
	position: fixed;
	right: 20%;
	top: 200px;
	width: 120px;
	height: 290px;
	background-color: #16ade9;
	text-align: right;
}

aside > div {
	padding: 20px;
}

.featureblock {
	background-color: magenta;
	height: 1000px;
}

.featureblock > div {
	margin: 0 auto;
	width: 600px;
}

.featureblock > div::after {
	content: '';
	display: block;
	clear: both;
}

.title {
	margin: 0 auto;
	float: left;
	height: 50px;
	width: 100px;
	background-color: red;
}

.commits {
	margin: 0 auto;
	float: right;
	height: 50px;
	width: 100px;
	background-color: green;
}

.feature_story {
	background-color: grey;
	min-height: 500px;
	padding: 10px;
	display: inline-block;
}

.feature_comments {
	float: left;
	margin: 10px 0;
}

.comment {
	background-color: blue;
	width: 300px;
}

.score {
	float: left;
	width: 50px;
	height: 60px;
	background-color: red;
}

.username {
	background-color: lightblue;
}

.feature_add_comment {
	float: right;
	position: relative;
}

.feature_add_comment input {
	margin: 10px 0;
	width: 280px;
	height: 100px;
}

.feature_add_comment button {
	position: absolute;
	right: 0;
	bottom: -10px;
	height: 30px;
	background-color: yellow;
}

footer {
	text-align: center;
	background-color: lightgreen;
}