html {
  font-size: 10pt;
  width: 100%;
  height: 100%;
}

body {
  background-color: #ccc;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  padding: 5px;
}

.displayNone {
  // display: none;
}

