body {
	background-color: $bg;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: -1px;
	color: #333;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	padding: 5px;
}

.displayNone {
	display: none;
}

.selected {
	color: $orange;
	font-size: 1.01em;
}

.noComments {
	text-align: center;
	margin: 20px;
	font-size: 2.5em;
}

footer {
	text-align: center;
}


@media screen and (max-device-width: $small-screen-width){
	html {
	  font-size: 19pt;
	  width: 100%;
	  height: 100%;
	}

	.error {
	text-align: center;

		> div{
			width: 80%;
			height: 60px;
			padding: 5px 10px 0 10px;
			margin: 0 auto 10px auto;
			border-radius: 10px;
			font-size: .6em;
			background-color: red;
		}

		.fa-exclamation.left {
			float: left;
			font-size: 3.5em;
		}

		.fa-exclamation.right {
			float: right;
			font-size: 3.5em;
		}
	}
	
	.errors {
		display: block;
		color: red;
		font-size: .6em;
	}

}

@media screen and (min-device-width: $small-screen-width) {
	body {
		background-color: $lightGray;
		// background: $lightGray url('/images/bg-texture-00.svg');
	}

	body > div {
		width: 960px;
		margin: 0 auto;
		background-color: $bg;
	}

	.error {
	text-align: center;

		> div{
			width: 300px;
			height: 50px;
			padding: 5px 10px 0 10px;
			margin: 0 auto 10px auto;
			border-radius: 10px;
			background-color: red;
		}

		.fa-exclamation.left {
			float: left;
			font-size: 3em;
		}
		.fa-exclamation.right {
			float: right;
			font-size: 3em;
		}
	}

	.errors {
		color: red;
	}
}