$small-screen-width: 500px;

// colors
$gray: #9B9B9B;
$lightGray: #c2c2c2;
$bg: #eee;
$blue: #00ACE6;
// $darkBlue: #006080;
// $darkBlue: #0080AA;
$darkBlue: #007399;
$orange: #CC7A29;

$lightReader: rgba(255,255,255,0.6);
