/***************************************************************************
********************** Main Layout and Standard Desktop ********************
*****************************************************************************/

body {
	background-color: #ccc;
}

a {
	text-decoration: none;
	color: inherit;
}

.displayNone {
	display: none;
}

li {
	padding: 5px;
}

body > div {
	width: 960px;
	margin: 0 auto;
}

/*************************************
******* Footer
*************************************/


footer {
	text-align: center;
	background-color: lightgreen;
	height: 100px;
}

/*********************************************************************
************************ hero section ********************************
*********************************************************************/

.hero {
	background-color: blue;
	position: relative;
	height: 250px;
}

nav {
	background-color: orange;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.options {
	background-color: red;
	width: 100px;
	display: inline-block;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: top;
}

.logo {
	margin: 0 auto;
	font-size: 64pt;
	width: 250px;
	height: 75px;
	background-color: lightblue;
	display: inline-block;
}

.title {
	position: absolute;
	left: 50px;
	bottom: 30px;
	background-color: #aaa;
}

/*********************************
***** Info Menu Section
*********************************/

.info_menu {
	background-color: green;
	width: 100px;
	height: 30px;
	position: absolute;
	left: 40px;
	bottom: -10px;
}

@media screen and (max-width: 400px) {
	body > div {
		width: 375px;
	}

	.options {
		display: none;
	}
	.logo {
		width: 30%;
		height: 10%;
	}
}

.info_menu > div {
	font-size: 9pt;
	background-color: red;
	width: 120px;
	position: absolute;
	top: 30px;
}

.info_label {
	background-color: lightblue;
	transform: translateX(-15px);
	margin: 5px;
	font-size: 12pt;
	padding: 2px;
	box-shadow: 1px 2px 2px 2px rgba(0,0,0,.4);
}

/*********************************
***** Login Section
*********************************/

.login {
	background-color: yellow;
	width: 100px;
	height: 30px;
	position: absolute;
	right: 40px;
	bottom: -10px;
}

.login > div {
	background-color: brown;
	position: absolute;
	top: 30px;
	width: 120px;
	padding-bottom: 15px;
}

.login .login_label {
	background-color: lightblue;
	transform: translateX(-15px);
	margin: 5px;
	padding: 2px;
	box-shadow: 1px 2px 2px 2px rgba(0,0,0,.4);
}

.login input {
	font-size: 10pt;
	width: 100px;
}

.login button {
	font-size: 10pt;
	position: absolute;
	bottom: -8px;
	right: -10px;
}

.login a {
	font-size: 10pt;
	position: absolute;
	bottom: 0;
	left: 10px;
}

/*********************************
***** Aside Menu Section
*********************************/

aside {
	position: fixed;
	right: 20%;
	top: 220px;
	width: 120px;
	height: 280px;
	background-color: #16ade9;
	text-align: right;
}

aside div {
	padding: 20px;
}

aside div:hover {
	background-color: rgba(255,255,255,0.3);
}

/*******************************************************************
********************** Main Content Area ***************************
*******************************************************************/


.featureblock {
	background-color: magenta;
	min-height: 1000px;
}

.featureblock > div {
	margin: 0 auto;
	width: 600px;
	position: relative;
}

.featureblock > div::after {
	content: '';
	display: block;
	clear: both;
}

.story_title {
	margin: 0 auto;
	float: left;
	height: 40px;
	min-width: 120px;
	background-color: red;
}

.commits {
	margin: 0 auto;
	float: right;
	height: 40px;
	width: 120px;
	background-color: green;
}
.stats {
	text-align: center;
	background-color: gray;
	float: right;
	width: 285px;
	margin: 10px 0;
}

.stats div {
	padding: 5px;
}

.stats strong {
	text-decoration: underline;
}

.feature_story {
	background-color: grey;
	height: 300px;
	padding: 10px;
	display: inline-block;
	overflow: hidden;
	text-align: center;
}

/*******************************
******* Comment Blocks
*******************************/

.feature_comments {
	float: left;
	margin: 10px 0;
	background-color: purple;
	height: 400px;
	overflow: scroll;
	padding-left: 5px;
	padding-right: 5px;
}

.comment {
	background-color: blue;
	width: 300px;
	margin-top: 5px;
}

.score {
	float: left;
	width: 50px;
	height: 60px;
	background-color: red;
	text-align: center;
}

.score div {
	margin: 2px auto;
}

.username {
	background-color: lightblue;
	padding-left: 55px;
}

.comment_description {
	padding: 5px;
	margin-left: 55px;
}

.feature_add_comment {
	float: right;
	position: relative;
}

.feature_add_comment input {
	margin: 10px 0;
	width: 280px;
	height: 100px;
}

.feature_add_comment button {
	position: absolute;
	right: 0;
	bottom: -10px;
	height: 30px;
	background-color: yellow;
}

/***************************************************************
*********************** Non Story Layout ***********************
***************************************************************/

.block_container {
	width: 400px;
	margin: 0 auto;
	background-color: yellow;
	padding: 5px;
	position: relative;
}

.label {
	background-color: lightblue;
	width: 200px;
	height: 35px;
	margin: 10px;
	transform: translateX(-25px);
	font-size: 19pt;
	padding-top: 15px;
	text-align: center;
	box-shadow: 1px 2px 2px 2px rgba(0,0,0,.4);
}

.block_container input {
	margin-left: 100px;
	height: 30px;
	width: 200px;
	font-size: 16pt;
}

.block_container button {
	position: absolute;
	width: 100px;
	height: 35px;
	bottom: -15px;
	right: 50px;
}

.block_container ul {
	font-size: 18pt;
	margin-left: 50px;
}

/********************************************************************
********************* Reader and main story pages *******************
********************************************************************/

.story {
	background-color: gray;
	height: 500px;
	padding: 10px;
	display: inline-block;
	overflow: scroll;
	text-align: center;
}

.hover_info {
	float: left;
	background-color: red;
	position: absolute;
	left: -140px;
	top: 150px;
	min-height: 200px;
	min-width: 150px;
	box-shadow: 1px 2px 2px 2px rgba(0,0,0,.4);
	text-align: center;
}

.hover_label {
	background-color: lightblue;
	transform: translateX(-15px);
	margin: 10px;
	padding: 5px;
	box-shadow: 1px 2px 2px 2px rgba(0,0,0,.4);
}