@media screen and (max-device-width: $small-screen-width) {
	.stats {
		display: none;
	}

	.plz_login {
		text-align: center;
		font-size: 13pt;

		a {
			text-decoration: underline;
		}
	}

	.feature_add_comment {;
		width: 80%;
		background-color: $bg;
		margin: 0 auto;
		text-align: center;
	}

	.feature_add_comment textarea {
		width: 100%;
		height: 4em;
		resize: none;
	}

	.feature_add_comment button {
		margin: 10px;
		width: 200px;
		height: 30px;
	}

}


@media screen and (min-device-width: $small-screen-width) {

	.feature_add_comment {
		float: right;
		position: relative;
	}

	.feature_add_comment textarea {
		margin: 10px 0;
		width: 280px;
		height: 4em;
	}

	.feature_add_comment button {
		position: absolute;
		right: 0;
		bottom: -5px;
		height: 30px;
		border-radius: 10px;
		box-shadow: 1px 1px 2px 2px rgba(0,0,0,.4);
	}

	.plz_login {
		text-align: center;
		font-size: 13pt;

		a {
			text-decoration: underline;
		}
	}
}