@media screen and (max-device-width: $small-screen-width) {
	.featureblock {
		margin: 70px auto 0 auto;
		width: 80%;

	}

	.story_title {
		float: left;
		background-color: $blue;
		min-width: 50px;
		font-size: 15pt;
		padding: 0 5px;
		border-radius: 5px;
	}

	.full_story {
		display: none;
	}

	.feature_story {
		background-color: $lightGray;
		padding: 5px;
		height: 205px;
		font-size: .83rem;
		border-radius: 5px;

		p {	
			height: 190px;
			overflow: hidden;
			margin: 20px auto;

		}
	}

	.story {
		background-color: $lightGray;
		padding: 10px;
	}

	.story_score {
		float: right;
		background-color: $blue;
		font-size: 14pt;
		padding: 0 2px;
		border-radius: 5px;

		span {
			margin: 0 5px;
		}
	}
}


@media screen and (min-device-width: $small-screen-width) {
	.featureblock {
		background-color: $lightGray;
		min-height: 1000px;
	}

	.featureblock > div {
		margin: 0 5px;
		width: 960px;
		position: relative;
	}

	.featureblock > div::after {
		content: '';
		display: block;
		clear: both;
	}

	.phone_story {
		display: none;
	}

	.story_title {
		margin: 0 auto;
		float: left;
		height: 40px;
		min-width: 120px;
		background-color: $blue;
		padding-left: 5px;
		padding-right: 5px;
		font-size: 2em;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.story_score {
		margin: 0 auto;
		float: right;
		height: 40px;
		min-width: 50px;
		padding-left: 5px;
		padding-right: 5px;
		background-color: $blue;
		font-size: 28pt;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		// box-shadow: 2px 2px 5px 1px rgba(0,0,0,.4);
		// border-bottom-right-radius: 5px;
		// border-bottom-left-radius: 5px;
	}

	.story_score span {
		margin: auto 5px;
	}

	.stats {
		text-align: center;
		background-color: $darkBlue;
		// background-color: $gray;
		float: right;
		width: 395px;
		margin: 10px 0;
		padding-bottom: 10px;
		border-radius: 15px;
		border-bottom: 1px solid rgba(194,194,194,0.4);
		box-shadow: 0 1px 5px rgba(0,0,0,0.6) inset, 0 0 20px 5px rgba(0,0,0,0.6) inset;

		h2 {
			margin-bottom: .6em;
		}

		div {
			font-size: 1.3em;
		}
		
	}

	.stats div {
		padding: 5px;

	}

	.stats strong {
		text-decoration: underline;
	}

	.feature_story {
		background-color: $darkBlue;
		// background-color: #8C8C8C;
		// color: #ddd;
		font-size: 1.3em;
		height: 300px;
		padding: 10px;
		display: inline-block;
		overflow: hidden;
		text-align: center;
		width: 940px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		border-bottom: 1px solid rgba(194,194,194,0.4);
		box-shadow: 0 1px 5px rgba(0,0,0,0.6) inset, 0 0 20px 5px rgba(0,0,0,0.6) inset;

		p {
			margin: 0 auto;
		}
	}
}