aside {
	display: none;
}


@media screen and (min-device-width: $small-screen-width) {
	aside {
		display: block;
		position: fixed;
		right: calc((100% - 960px) / 2 - 5px);
		top: 230px;
		width: 120px;
		height: 295px;
		background-color: #16ade9;
		text-align: right;
	}

	aside div {
		padding: 20px;
	}

	aside div:hover {
		background-color: rgba(255,255,255,0.3);
	}
}