@media screen and (max-device-width: $small-screen-width) {
	footer {
		background-color: #FFF;
		visibility: hidden;

		.logo {
			background-color: #333;
		}
	}

	.footerOptions {
		display: inline-block;
		background-color: red;
		vertical-align: bottom;
		margin-left: 10px;
		margin-right: 10px;
		width: 100px;
		font-size: 1.2em;
	}
}

@media screen and (min-device-width: $small-screen-width) {
	
	footer {
		margin: 0;
		background-color: #ddd;
	}

	.footerOptions {
		background-color: $gray;
		width: 100px;
		display: inline-block;
		height: 40px;
		margin-left: 10px;
		margin-right: 10px;
		vertical-align: bottom;
		box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
		font-size: 1.4em;
	}
}