@media screen and (max-device-width: $small-screen-width - 1px) {
	.info_menu , .login, .options{
		display: none;
	}

	.title {
		background-color: $lightGray;
		font-size: 14pt;
		margin-top: 5px;
	}

	.hero {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		background-color: $lightGray;
		text-align: center;
		height: 35px;
		border-bottom: 1px solid $blue;
	}

	.phone_menu {
		position: absolute;
		font-size: 20pt;
		background-color: $blue;
		width: 50px;
		height: 35px;

		div {
			font-size: 15pt;
			padding: 10px 0;
			background-color: $blue;
			z-index: auto;
			width: 100px;
		}
		>div {
			box-shadow: 2px 3px 4px rgba(0,0,0,0.5);
		}
	}

	nav {
		margin: 0 auto;
		width: 100px;
	}

	.logo {
		margin: 0 auto;
		background-color: $gray;
		height: 35px;
		width: 100px;
		font-size: 24pt;
	}
}

@media screen and (min-device-width: $small-screen-width) {
	.phone_menu {
		display: none;
	}

	.hero {
		background-color: $bg;
		position: relative;
		height: 200px;
	}

	nav {
		background-color: #ddd;
		position: absolute;
		top: 0;	
		left: 0;
		right: 0;
		text-align: center;
		box-shadow: 0 9px 9px -7px rgba(0,0,0,0.4);
	}

	.options {
		background-color: $gray;
		width: 100px;
		display: inline-block;
		height: 40px;
		margin-left: 10px;
		margin-right: 10px;
		vertical-align: top;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	}

	.archive {
		font-size: 1.2em;
	}

	.logo {
		margin: 0 auto;
		font-size: 64pt;
		width: 250px;
		height: 90px;
		background-color: $gray;
		display: inline-block;
		box-shadow: 2px 0px 5px rgba(0,0,0,0.4), -2px 0px 5px rgba(0,0,0,0.4);
	}


	.title {
		position: absolute;
		left: 50px;
		bottom: 0px;
		background-color: $gray;
		padding: 5px 15px;
		border-radius: 10px;
		box-shadow: 0 1px 5px rgba(0,0,0,0.3) inset, 0 0 10px 3px rgba(0,0,0,0.5) inset;
	}

	/*********************************
	***** Info Menu Section
	*********************************/

	.info_menu {
		background-color: $gray;
		width: 100px;
		height: 30px;
		position: absolute;
		left: 40px;
		bottom: -10px;
		z-index: 1000;
		outline: none;
		font-size: 1.5em;
		box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.6);
		border-radius: 5px;
	}


	.info_menu > div {
		font-size: .65em;
		background-color: $gray;
		width: 120px;
		position: absolute;
		top: 30px;
	}

	.info_label {
		background-color: $blue;
		transform: translateX(-15px);
		margin: 5px;
		font-size: 12pt;
		padding: 2px;
		box-shadow: 1px 2px 2px 2px rgba(0,0,0,.4);
	}

	/*********************************
	***** Login Section
	*********************************/

	.login {
		background-color: $gray;
		width: 120px;
		height: 30px;
		position: absolute;
		right: 40px;
		bottom: -10px;
		outline: none;
		font-size: 1.4em;
		box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.6);
		border-radius: 5px;
	}

	.login > div {
		background-color: $gray;
		position: absolute;
		top: 30px;
		width: 120px;
		padding-bottom: 15px;
		font-size: .7em;
		z-index: 1000;
	}

	.login_label {
		background-color: $blue;
		transform: translateX(-15px);
		margin: 5px;
		padding: 2px;
		box-shadow: 1px 2px 2px 2px rgba(0,0,0,.4);
	}

	.login input {
		font-size: 10pt;
		width: 100px;
	}

	.login button {
		font-size: 10pt;
		position: absolute;
		bottom: -8px;
		right: -10px;
	}

	.login .signup {
		font-size: 10pt;
		position: absolute;
		bottom: 0;
		left: 10px;
	}
}