@media screen and (max-device-width: $small-screen-width) {

}

@media screen and (min-device-width: $small-screen-width) {
	.seed_story {
		background-color: $darkBlue;
		color: $lightReader;

		//lines
		font-size: 1.5em;
		line-height: 120%;

		min-height: 0px;
		max-height: 1rem;
		width: 940px;
		padding: 10px;
		display: inline-block;
		// overflow-y: auto;
		text-align: center;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		border-bottom: 1px solid rgba(194,194,194,0.4);
		box-shadow: 0 1px 5px 1px rgba(0,0,0,0.6) inset, 0 0 20px 5px rgba(0,0,0,0.6) inset;
		padding-bottom: 100px;
		z-index: 100;

		div {
			padding-left: 10px;
			padding-right: 10px;
		}

		p {
			margin: 5px auto;
		}
	}

	.block_container textarea {
		margin-left: 100px;
		width: 25em;
		height: 5em;
		resize: none;
	}

	.block_container select {
		margin-left: 100px;
		width: 200px;
		font-size: 2em;
		background-color: $gray;
	}
}